@font-face {
    font-family: phenomena-Black;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-Black.ttf);
}

@font-face {
    font-family: phenomena-Bold;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-Bold.ttf);
}

@font-face {
    font-family: Phenomena-ExtraBold;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-ExtraBold.ttf);
}

@font-face {
    font-family: Phenomena-ExtraLight;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-ExtraLight.ttf);
}

@font-face {
    font-family: Phenomena-Light;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-Light.ttf);
}

@font-face {
    font-family: Phenomena-Regular;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-Regular.ttf);
}

@font-face {
    font-family: Phenomena-Thin;
    src: url(./disciple-fonts/disciple-fonts/Phenomena-Thin.ttf);
}

@font-face {
    font-family: SueEllenFrancisco-Regular;
    src: url(./disciple-fonts/disciple-fonts/SueEllenFrancisco-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}


/* header css */


/* header start */

.header {
    background-color: #EAEAEA;
}

.header-img img {
    height: 60px;
    width: 260px;
    margin-top: 12px;
    mix-blend-mode: darken;
    margin-left: 100px;
    background-image: url(./disciple-fonts/disciple-fonts/Image\ 1.png);
    background-blend-mode: screen;
}

.banner {
    background: url('./disciple-fonts/disciple-fonts/moein-rezaalizade-4pc1GpZhJP0-unsplash.png') no-repeat 0 0;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

.banner_education_literacy {
    background: url('./disciple-fonts/disciple-fonts/nikhita-s-NsPDiPFTp4c-unsplash.png') no-repeat 0 0;
    background-size: 100% 400px;
    width: 100%;
    height: 400px;
}

#edu_lit {
    font-size: 63px;
}

#explore-mobile {
    display: none;
}

.banner_heath_program {
    background: url('./disciple-fonts/disciple-fonts/nguy-n-hi-p-sTTeaN4wwrU-unsplash.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.banner_aboutus {
    background: url('./disciple-fonts/disciple-fonts/a54f8d61237de440dcf55f38317776ec.png') no-repeat 0 0;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

.banner_career {
    background: url('./disciple-fonts/disciple-fonts/pexels-sora-shimazaki-5673488.png') no-repeat 0 0;
    background-size: contain;
    width: 100%;
    height: 400px;
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative !important;
}

.nav-link>a {
    line-height: 4rem;
    color: black;
    padding: 0 1rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    display: flex;
    font-weight: 900;
    font-family: phenomena-bold;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.nav-link:hover a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute !important;
    top: 100%;
    left: 0;
    width: 18rem;
    transform: translateY(10px);
    opacity: 0;
    cursor: pointer;
    transition: .5s;
    background-color: #fff;
}

.dropdown-link>a {
    /* background-color: #fff; */
    display: flex;
    color: black;
    padding: .5rem 1rem .5rem 2rem;
    text-decoration: none;
    list-style: none;
    align-items: center;
    font-weight: 100;
    font-family: phenomena-bold;
    justify-content: space-between;
    font-size: 20px;
}

.nav-links {
    padding: 0px;
}

.nav-links li {
    padding: 0rem 0rem 0rem 0rem !important;
    text-align: center;
}

.dropdown ul {
    list-style: none;
    position: relative;
}

.arrow {
    position: absolute;
    top: -6.5px;
    left: 90px;
    width: 11px;
    height: 11px;
    background-color: #fff;
    transform: rotate(45deg);
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


/* heaader end */

.main-img {
    width: 100%;
}

.banner {
    background-color: #EAEAEA;
}

.banner-icon {
    display: flex;
    color: #fff;
    margin-left: 95px;
    letter-spacing: 2px;
}

.banner-icon a {
    color: #fff;
    text-decoration: none;
    font-family: phenomena-bold;
    font-size: 20px;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

.banner-icon i {
    font-size: 26px;
    color: #fff;
    margin-right: 10px;
}

.banner h2 {
    color: #fff;
    font-family: SueEllenFrancisco-Regular;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 80px;
}

#read_more_button_header {
    background-color: #FFD868;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 1px rgb(185, 183, 183);
    border: none;
    font-family: Phenomena-Regular;
}

#read_more_button_ourstory {
    background-color: #FFD868;
    border-radius: 100px;
    padding: 10px 60px 10px 60px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 1px rgb(185, 183, 183);
    border: none;
    font-family: Phenomena-Regular;
}


/* form and video css */

#heart_img {
    margin-left: 40px;
    margin-top: -62px;
}

#donation {
    margin-left: 90px;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(223, 215, 215);
    font-family: phenomena-bold;
}

#donor {
    margin-left: 90px;
    color: white;
    font-size: 39px;
    margin-top: -15px;
    font-family: SueEllenFrancisco-Regular;
}

#donation_arrow {
    display: block;
    margin-left: 70px;
}

.inputs {
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid rgb(149, 170, 214);
    box-shadow: 0 0 10px 0.9px rgb(95, 95, 95);
}

.inputs::placeholder {
    color: rgb(216, 223, 238);
    padding-left: 20px;
    font-family: Phenomena-Regular;
}

select {
    border-radius: 100px;
    color: rgb(216, 223, 238);
    background-color: transparent;
    width: 200px;
    height: 45px;
    padding-left: 10px;
    box-shadow: 0 0 10px 0.9px rgb(95, 95, 95);
    border: 2px solid rgb(149, 170, 214);
}

#making_donation {
    background-color: #FFD868;
    color: rgb(51, 50, 50);
    font-weight: 700;
    padding: 10px 40px 10px 40px;
    margin-left: 10px;
    font-family: phenomena-Black;
    border-radius: 100px;
    border: none;
    box-shadow: 0 0 10px 0.9px rgb(70, 69, 69);
    font-size: 18px;
}

#save_lives {
    color: rgb(216, 223, 238);
    margin-left: 70px;
    font-family: Phenomena-Regular;
}


/* video section */

#latest_video_section {
    margin-left: 80px;
    margin-top: 100px;
    display: flex;
}

#latest_video_heading {
    font-family: SueEllenFrancisco-Regular;
}


/* .rs-vedio{
    background-color:rgb(149, 170, 214);
    width: 438px;
    margin-top: 50px;
    padding-top: 15px;
    border-radius: 10px;
    margin-left: 80px;
       
} */

#boys-img {
    margin-left: 50px;
}

#Bank-transfer {
    padding-left: 20px !important;
}

.rs-vedio {
    background-color: rgb(149, 170, 214);
    width: 438px;
    margin-top: 50px;
    padding-top: 15px;
    border-radius: 10px;
    margin-left: 80px;
}

.embed-responsive-item {
    height: 250px;
    width: 400px
}

iframe {
    border-radius: 10px;
}

.backgroundPhoto {
    background-image: url(./disciple-fonts/disciple-fonts/Group\ 71.png);
    background-repeat: no-repeat;
    background-size: 380px;
    position: relative;
    background-position-x: 320px;
    background-position-y: 70px;
}


/* #headline_col{
    position: relative;
    left: 670px;
    bottom: 410px;
    z-index: 1;
    background-image: none;
    
} */

#newsAndEvents {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-size: 200px;
}

.news_rows {
    width: 570px;
    height: auto;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(99, 96, 96);
    margin-left: -10px;
}

#news_headline {
    margin-top: 10px;
    font-family: phenomena-Bold;
    font-size: 18px;
}

#publish_button_sec {
    display: flex;
}

#read_more_button {
    background-color: #FFD868;
    font-family: Phenomena-Regular;
    border-radius: 10px;
    position: relative;
    left: 130px;
    border: none;
    font-size: 13px;
    padding: 2px 30px 2px 30px;
}


/* footer css */

.footer {
    border: solid black 3px;
    background-color: #212121;
    /* height: 420px; */
    padding: 30px;
}

.footer_box {
    padding: 0px 100px 0px 100px;
}

.logo {
    height: 60px;
    margin-bottom: 20px;
}

.social {
    height: 30px;
}

.socials {
    display: none;
}

.content {
    color: white;
    font-family: phenomena-regular;
    font-size: 20px;
}

.content1 {
    color: white;
    font-family: phenomena-bold;
    font-size: 19px;
}

.divide {
    background-color: white;
    margin: 0px 100px 30px 100px;
}

#privacy {
    margin-left: 69px;
}

#term_cond {
    margin-left: 80px;
    margin-top: -30px;
}

.main_box_awareness {
    box-shadow: 0 0 10px 10px;
}


/* media queries */


/* media header  1024*/

@media (max-width:1024px) {
    .nav-link>a {
        line-height: 4rem;
        color: black;
        padding: 0 1rem;
        font-size: 1rem;
        display: flex;
        font-weight: 700;
        font-family: phenomena-bold;
        align-items: center;
        text-decoration: none;
        display: block;
    }
    .header-img img {
        height: 40px;
        width: 150px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .break_line {
        display: none;
    }
    .banner_career {
        background: url('./disciple-fonts/disciple-fonts/pexels-sora-shimazaki-5673488.png') no-repeat 0 0;
        background-size: 100% 300px;
    }
    .banner_career h2 {
        padding-top: 0px !important;
        padding-left: 30px !important;
    }
    .banner-icon {
        margin-left: 35px;
    }
}


/* for 767 */

@media screen and (max-width: 767px) {
    .banner_heath_program {
        background: url('./disciple-fonts/disciple-fonts/nguy-n-hi-p-sTTeaN4wwrU-unsplash.png') no-repeat 0 0;
        background-size: 100% 300px;
    }
    .banner {
        background: url('./disciple-fonts/disciple-fonts/moein-rezaalizade-4pc1GpZhJP0-unsplash.png') no-repeat 0 0;
        background-size: 100% 300px;
        width: 100%;
    }
    /* abrar css */
    #boys-img {
        margin-left: 0px;
        margin-top: -50px;
    }
    .boys-2 {
        order: -1;
    }
    #be-helping {
        order: -1;
    }
    #news-abrar {
        display: block !important;
    }
    .mobile-news-section {
        display: block !important;
    }
    .backgroundPhoto {
        display: none;
    }
    .icon-div-5 i {
        font-size: 35px;
    }
    .icon-div-5 {
        display: flex;
        justify-content: flex-end;
    }
    #read_more_button-2 {
        background-color: #FFD868;
        font-family: Phenomena-Regular;
        border-radius: 10px;
        height: 35px;
        border: none;
        font-size: 13px;
        padding: 2px 30px 2px 30px;
    }
    #about_us_id {
        padding-left: 45px !important;
    }
    #edu_lit {
        font-size: 30px !important;
        padding-top: 40px;
        padding-left: 50px;
    }
    .banner-icon {
        padding-left: 50px !important;
        margin-left: 0px;
    }
    /* .banner_career{
        background: url('./disciple-fonts/disciple-fonts/pexels-sora-shimazaki-5673488.png') no-repeat 0 0;
        background-size:100% 300px;
        
        width: 100%;
        
    }

    .banner_career h2{
        padding-top: 0px;
    }
     */
    .banner_education_literacy {
        background: url('./disciple-fonts/disciple-fonts/nikhita-s-NsPDiPFTp4c-unsplash.png') no-repeat 0 0;
        background-size: 100% 280px;
        width: 100%;
    }
    .logo {
        height: 50px;
    }
    .social {
        height: 20px;
        margin-bottom: 20px;
    }
    .footer_box {
        padding: 0px 30px 0px 30px;
        line-height: normal;
    }
    #navigation {
        line-height: 18px;
        padding-left: 80px;
        margin-bottom: 60px;
    }
    #about_us_sec {
        line-height: 18px;
        padding-left: 50px;
    }
    #logo_add {
        padding-left: 50px;
        padding-right: 0px;
        line-height: 20px;
    }
    #contact_us {
        padding-left: 20px;
        padding-right: 0px;
        margin-left: 30px;
    }
    .divide {
        margin: 20px 0px 30px 0px;
    }
    .content1 {
        margin-left: 4%;
    }
    #privacy {
        margin-left: 0px;
    }
    #term_cond {
        margin-left: 0px;
    }
    #address_part {
        display: none;
    }
    #gmail_id::after {
        content: "C-20,Community Center,1st floor,nayyar Tower,janakpuri,new Delhi Pin code-110 058 ";
    }
    .socials {
        display: inline-block;
    }
    #navigation {
        padding-left: 50px;
    }
    /* footer end */
    #disaster_risk {
        margin-top: 20px;
    }
    /* header */
    /* header start */
    .urban-para h1 {
        margin-top: -120px;
    }
    .dropdown {
        position: absolute !important;
        top: 100%;
        /* left: 25%; */
        width: 100%;
        transform: translateY(10px);
        opacity: 0;
        cursor: pointer;
        transition: .5s;
        background-color: #fff;
    }
    .dropdown-link>a {
        display: flex;
        color: black;
        padding: .5rem 1rem .5rem 2rem;
        text-decoration: none;
        list-style: none;
        align-items: center;
        font-weight: 100;
        font-family: phenomena-bold;
        justify-content: space-between;
        font-size: 20px;
    }
    #dropdown-mobile {
        display: none;
        cursor: pointer;
    }
    .dropdown-link:hover>.dropdown {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: auto;
    }
    .nav-link:hover a {
        transform: none;
        text-decoration: none;
    }
    .nav-link>a {
        line-height: 4rem;
        color: black;
        padding: 0 1rem;
        letter-spacing: 1px;
        font-size: 1.2rem;
        display: flex;
        font-weight: 900;
        font-family: phenomena-bold;
        align-items: left;
        justify-content: space-between;
        text-decoration: none;
    }
    .nav-links>ul {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    #explore-desk {
        display: none;
    }
    #explore-mobile {
        display: block;
    }
    .mobile_icon {
        display: inline-block !important;
        position: relative;
        left: 92%;
        bottom: 40px;
        margin-top: 0px;
        cursor: pointer;
    }
    #check_class {
        display: none;
    }
    .dropdown ul {
        list-style: none;
        position: relative;
    }
    .arrow {
        position: absolute;
        top: -6.5px;
        left: 50%;
        width: 11px;
        height: 11px;
        background-color: #fff;
        transform: rotate(45deg);
    }
    .urban-para {
        order: -1;
    }
    /*header end  */
    /* header end */
    /* blue box donation  */
    #donation,
    #donor {
        padding-left: 5%;
    }
    #donor {
        font-size: 25px;
    }
    #name_email {
        margin-top: -50px;
    }
    #donor {
        font-size: 40px
    }
    .img_heart_donation {
        padding-left: 16% !important;
        position: relative;
        left: 53%;
        bottom: 30%;
    }
    #heart_img {
        margin-left: 0px;
        width: 100px;
        /* margin-top: -40px; */
    }
    .input1 {
        width: 70%;
    }
    .preferred_method {
        display: flex;
        justify-content: center;
    }
    #making_donation {
        margin-top: 30px;
    }
    #donation_arrow {
        display: none;
    }
    #save_lives {
        margin-left: 0px;
    }
    /* blue box donation end */
    #news_part {
        margin-top: -50px !important;
    }
    #read_more_button_header {
        padding: 10px 40px 10px 40px;
        margin-bottom: 20px;
    }
    .banner {
        height: 380px;
    }
    #dis_man {
        font-size: 45px !important;
        /* margin-top: -30px; */
    }
    .banner-icon a {
        font-size: 16px;
    }
    /* .banner-icon {
            margin-left: 25px !important;
            
        } */
    #dis_man {
        padding-top: 20px;
        padding-left: 60px;
    }
    .break_line {
        display: none;
    }
    .embed-responsive-item {
        height: auto;
        width: auto;
    }
    .rs-vedio {
        background-color: rgb(149, 170, 214);
        width: auto;
        margin-top: 50px;
        padding-top: 15px;
        border-radius: 10px;
        margin-left: 10px;
    }
    #newsAndEvents {
        margin-top: 80px;
    }
    .headline_query {
        display: flex;
        justify-content: center;
    }
    .break_line {
        display: block;
    }
}


/* abrra main css */

.mobile-news-section {
    display: none;
}

#news-abrar {
    display: none !important;
}

.urban-img {
    display: flex;
    justify-content: center;
}

.card-jobs {
    display: flex !important;
    justify-content: center;
}

.urban-img img {
    margin-left: 0px !important;
}

.opening-btn {
    display: flex !important;
    justify-content: center;
}


/* media query end for 767 */


/* media query  for 567 */

@media screen and (max-width: 575px) {
    #contact_us {
        padding-left: 0px;
        line-height: 10px;
        margin-left: 0px;
    }
    .footer_box {
        padding: 0px 30px 0px 30px;
        line-height: normal;
    }
    #gmail_id::after {
        margin-top: 50px !important;
        line-height: 26px;
        margin-right: 20px;
    }
    .divide {
        margin: 20px 0px 30px 0px;
    }
    .content1 {
        margin-left: -15px !important;
        margin-right: 0% !important;
        padding: 0px !important;
    }
    #logo_add {
        padding-left: 00px;
    }
    #navigation {
        padding-left: 0px;
        margin-bottom: 20px;
        line-height: 10px;
    }
    /* footer end */
    .news_rows {
        display: flex;
        justify-content: center;
    }
    .news_date_part {
        margin-left: 20px;
    }
    #read_more_button {
        position: relative;
        left: 80px;
        font-size: 13px;
        padding: 2px 30px 2px 30px;
    }
    #donation,
    #donor {
        padding-left: 0% !important;
    }
}


/* 567 end */


/* 510 start */

@media screen and (max-width: 510px) {
    #news_headline {
        font-size: 90%;
    }
    .news_date_part {
        margin-left: 8%;
        padding: 0px !important;
    }
    #read_more_button {
        position: relative;
        left: 10px;
        font-size: 13px;
        padding: 2px 10px 2px 10px;
    }
}


/* 510 end */


/* 485 start */

@media screen and (max-width: 485px) {
    .banner_education_literacy {
        background: url('./disciple-fonts/disciple-fonts/nikhita-s-NsPDiPFTp4c-unsplash.png') no-repeat 0 0;
        background-size: 100% 200px;
        width: 100%;
        height: 200px;
    }
    .banner_education_literacy h2 {
        font-size: 35px !important;
    }
    .banner_aboutus {
        background: url('./disciple-fonts/disciple-fonts/a54f8d61237de440dcf55f38317776ec.png') no-repeat 0 0;
        background-size: 100% 200px;
        width: 100%;
    }
    .banner_aboutus h2 {
        font-size: 40px !important;
    }
    .banner {
        background: url('./disciple-fonts/disciple-fonts/moein-rezaalizade-4pc1GpZhJP0-unsplash.png') no-repeat 0 0;
        background-size: 100% 170px;
        width: 100%;
        height: 200px;
    }
    .banner-icon a {
        font-size: 40px !important;
    }
    .banner_heath_program {
        background: url('./disciple-fonts/disciple-fonts/nguy-n-hi-p-sTTeaN4wwrU-unsplash.png') no-repeat 0 0;
        background-size: 100% 200px;
        height: 200px;
    }
    .banner-icon {
        display: none;
    }
    .our-story {
        margin-top: -180px;
    }
    #read_more_button {
        left: 120px;
        margin-bottom: 5px;
        padding: 0px 18px 0px 18px;
    }
    .news_date_part {
        padding-left: 50px;
    }
    #donor {
        font-size: 40px !important;
    }
    .new_img {
        display: none;
    }
    .donor_become {
        width: 100%;
    }
    .headline_query {
        padding: 0px !important;
    }
    #making_donation {
        margin-left: 0px !important;
    }
    .backgroundPhoto {
        margin-left: 15px;
    }
    /* .video_iframe{
        width: auto;
    } */
    /* for blue box */
    .input1 {
        width: 100%;
    }
    #donation,
    #donor {
        margin-left: 20px;
    }
}


/* 485 end*/

@media screen and (max-width: 485px) {
    .logo {
        width: 140px;
        height: 40px;
    }
}


/* 370 start*/

@media screen and (max-width: 370px) {
    #read_more_button {
        left: 45px;
    }
}


/* 370 end*/


/* 544 start */

@media screen and (max-width: 544px) {
    #dc-para {
        display: none;
    }
}